<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Mi talent template">
        <meta name="author" content="Tomasz Komoszeski">
        <title>Mi Talent</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" />
        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
<body class="mi-talent">
    <nav class="navigation-bar">
      <div class="container-fluid">
        <div class="row">
          <div class="sub-menu currency-menu">
              <ul>
                  <li class="dropdown">
                    <button type="button" data-toggle="dropdown" class="currency-button">
                       Currency: GBP
                        <i class="fas fa-angle-down"></i>  
                        <i class="fas fa-angle-up"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">PLN</a></li>
                        <li><a href="#">JPY</a></li>
                        <li><a href="#">USD</a></li>
                    </ul>
                  </li>
              </ul>
          </div>
          <div id="shopping-cart" class="sub-menu">
            <ul>
              <li>
                <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Shopping cart</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="burger-menu">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> 
                </button>
          </div>
          <div class="sub-menu sub-menu-right">
            <ul>
              <li>
                <a href="#">
                  <span>Register</span>
                  <i class="fas fa-user-plus"></i>
                </a> 
              </li>
              <li>
                <a href="#">
                  <span>Sign in</span>
                    <i class="fas fa-sign-in-alt"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#">
                    <span>Register</span>
                    <i class="fas fa-user-plus"></i>
                  </a> 
                  </li>
                  <li>
                    <a href="#">
                      <span>Sign in</span>
                      <i class="fas fa-sign-in-alt"></i>
                    </a>
                  </li>
                  <li>
                      <button type="button" data-toggle="collapse" data-target="#currencyMobileMenu"  class="currency-button">
                          Currency: GBP
                          <i class="fas fa-angle-down"></i>  
                          <i class="fas fa-angle-up"></i>
                       </button>
                  </li>
                  <li>
                    <div id="currencyMobileMenu" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">PLN</a></li>
                            <li><a href="#">JPY</a></li>
                            <li><a href="#">USD</a></li>
                        </ul>
                    </div>
                  </li> 
                </ul>
            </div>
        </div>
      </div>
    </nav>
    <header class="sub-navigation-header container-fluid header ">
        <div class="row sub-navigation-container">
          <div class="logo">
            <a href="#"> <span>avenue</span> fashion</a>
            <div class="sub-navigation-button" data-toggle="collapse" data-target="#subNavigationMenu">
              <i class="fas fa-angle-down"></i> 
              <i class="fas fa-angle-up"></i>
            </div>
          </div>
          <div id="subNavigationMenu" class="sub-navigation collapse">
            <ul>
              <li>
                <a data-toggle="dropdown">
                  <div class="sub-navigation-link-text">Mens</div>
                  <div class="sub-navigation-icon">
                    <i class="fas fa-angle-down"></i> 
                    <i class="fas fa-angle-up"></i>
                  </div>
                </a>
                <a data-toggle="collapse" data-target="#subMobileCollapseMenu1">
                  <div class="sub-navigation-link-text">Mens</div>
                  <div class="sub-navigation-icon">
                    <i class="fas fa-angle-down"></i> 
                    <i class="fas fa-angle-up"></i>
                  </div>
                </a>
                <div class="dropdown-menu">
                  <div class="sub-dropdown-menu">
                      <a href="#">Casuals</a>
                      <ul>
                          <li><a href="#">Jakcets</a></li>
                          <li><a href="#">Hoodies & Sweatshirts</a></li>
                          <li><a href="#">Polo Shirts</a></li>
                          <li><a href="#">Sportswear</a></li>
                          <li><a href="#">Trousers & Chinos</a></li>
                          <li><a href="#">T-Shirts</a></li>
                      </ul>
                  </div>
                  <div class="sub-dropdown-menu">
                    <a href="#">Formal</a>
                    <ul>
                      <li><a href="#">Jakets</a></li>
                      <li><a href="#">Shirts</a></li>
                      <li><a href="#">Suits</a></li>
                      <li><a href="#">Trousers</a></li>
                    </ul>
                  </div>
                </div>
                <div class="collapse-menu collapse" id="subMobileCollapseMenu1">
                  <div class="sub-dropdown-menu-mobile">
                      <a href="#">Casuals</a>
                      <ul>
                          <li><a href="#">Jakcets</a></li>
                          <li><a href="#">Hoodies & Sweatshirts</a></li>
                          <li><a href="#">Polo Shirts</a></li>
                          <li><a href="#">Sportswear</a></li>
                          <li><a href="#">Trousers & Chinos</a></li>
                          <li><a href="#">T-Shirts</a></li>
                      </ul>
                  </div>
                  <div class="sub-dropdown-menu-mobile">
                    <a href="#">Formal</a>
                    <ul>
                      <li><a href="#">Jakets</a></li>
                      <li><a href="#">Shirts</a></li>
                      <li><a href="#">Suits</a></li>
                      <li><a href="#">Trousers</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a  data-toggle="dropdown">
                  <div class="sub-navigation-link-text">Womens</div>
                  <div class="sub-navigation-icon">
                      <i class="fas fa-angle-down"></i>  
                      <i class="fas fa-angle-up"></i>
                  </div>
                </a>
                <a  data-toggle="collapse"  data-target="#subMobileCollapseMenu2">
                  <div class="sub-navigation-link-text">Womens</div>
                  <div class="sub-navigation-icon">
                      <i class="fas fa-angle-down"></i>  
                      <i class="fas fa-angle-up"></i>
                  </div>
                </a>
                <div class="dropdown-menu">
                    <div class="sub-dropdown-menu">
                        <a href="#">Casuals</a>
                        <ul>
                            <li><a href="#">Jakcets</a></li>
                            <li><a href="#">Hoodies & Sweatshirts</a></li>
                            <li><a href="#">Polo Shirts</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Trousers & Chinos</a></li>
                            <li><a href="#">T-Shirts</a></li>
                        </ul>
                    </div>
                    <div class="sub-dropdown-menu">
                      <a href="#">Formal</a>
                      <ul>
                        <li><a href="#">Jakets</a></li>
                        <li><a href="#">Shirts</a></li>
                        <li><a href="#">Suits</a></li>
                        <li><a href="#">Trousers</a></li>
                      </ul>
                    </div>
                </div>
                <div class="collapse-menu collapse" id="subMobileCollapseMenu2">
                  <div class="sub-dropdown-menu-mobile">
                      <a href="#">Casuals</a>
                      <ul>
                          <li><a href="#">Jakcets</a></li>
                          <li><a href="#">Hoodies & Sweatshirts</a></li>
                          <li><a href="#">Polo Shirts</a></li>
                          <li><a href="#">Sportswear</a></li>
                          <li><a href="#">Trousers & Chinos</a></li>
                          <li><a href="#">T-Shirts</a></li>
                      </ul>
                  </div>
                  <div class="sub-dropdown-menu-mobile">
                    <a href="#">Formal</a>
                    <ul>
                      <li><a href="#">Jakets</a></li>
                      <li><a href="#">Shirts</a></li>
                      <li><a href="#">Suits</a></li>
                      <li><a href="#">Trousers</a></li>
                    </ul>
                  </div>
              </div>
              </li>
              <li>
                <a href="#">The Brand</a>
              </li>
              <li>
                <a href="#">Local Stores</a>
              </li>
              <li>
                <a href="#">Look Book</a>
              </li>
              <li class="search-input">
                  <input placeholder="Search..." type="text" />
                  <i class="fas fa-search"></i>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <footer>
      </footer>
</body>
</html>