<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Mi talent template">
        <meta name="author" content="Tomasz Komoszeski">
        <title>Mi Talent</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" />
        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
<body class="mi-talent">
    <nav class="navigation-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xs-4 burger-menu">

          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-menu currency-menu">
              <ul>
                  <li>
                    <button type="button" data-toggle="dropdown" id="currency-button">
                       Currency: GBP
                        <i class="fas fa-angle-down"></i>  
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">PLN</a></li>
                        <li><a href="#">JPY</a></li>
                        <li><a href="#">USD</a></li>
                    </ul>
                  </li>
              </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-menu sub-menu-right">
            <ul>
              <li>
                <a href="#">
                  <span>Register</span>
                  <i class="fas fa-user-plus"></i>
                </a> 
              </li>
              <li>
                <a href="#">
                  <span>Sign in</span>
                    <i class="fas fa-sign-in-alt"></i>

                </a>
              </li>
            </ul>
          </div>
          <div id="shopping-cart" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-menu">
            <ul>
              <li>
                <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Shopping cart</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
      <!--
      <header class="container header">
        <div class="row sub-navigation-container">
          <div class="col-lg-5 logo">
            <span>avenue</span> fashion
          </div>
          <div class="col-lg-7 sub-navigation">
            <ul>
              <li>
                <a data-toggle="dropdown">
                  <div class="sub-navigation-link-text">Mens</div>
                  <div class="sub-navigation-icon"><i class="fas fa-angle-down"></i> </div>
                </a>
                <div class="dropdown-menu">
                  <div class="sub-dropdown-menu">
                      <a href="#">Casuals</a>
                      <ul>
                          <li><a href="#">Jakcets</a></li>
                          <li><a href="#">Hoodies & Sweatshirts</a></li>
                          <li><a href="#">Polo Shirts</a></li>
                          <li><a href="#">Sportswear</a></li>
                          <li><a href="#">Trousers & Chinos</a></li>
                          <li><a href="#">T-Shirts</a></li>
                      </ul>
                  </div>
                  <div class="sub-dropdown-menu">
                    <a href="#">Formal</a>
                    <ul>
                      <li><a href="#">Jakets</a></li>
                      <li><a href="#">Shirts</a></li>
                      <li><a href="#">Suits</a></li>
                      <li><a href="#">Trousers</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a  data-toggle="dropdown">
                  <div class="sub-navigation-link-text">Womens</div>
                  <div class="sub-navigation-icon">
                      <i class="fas fa-angle-down">     </i>  
                  </div>
                  <div class="dropdown-menu">
                      <div class="sub-dropdown-menu">
                          <a href="#">Casuals</a>
                          <ul>
                              <li><a href="#">Jakcets</a></li>
                              <li><a href="#">Hoodies & Sweatshirts</a></li>
                              <li><a href="#">Polo Shirts</a></li>
                              <li><a href="#">Sportswear</a></li>
                              <li><a href="#">Trousers & Chinos</a></li>
                              <li><a href="#">T-Shirts</a></li>
                          </ul>
                      </div>
                      <div class="sub-dropdown-menu">
                        <a href="#">Formal</a>
                        <ul>
                          <li><a href="#">Jakets</a></li>
                          <li><a href="#">Shirts</a></li>
                          <li><a href="#">Suits</a></li>
                          <li><a href="#">Trousers</a></li>
                        </ul>
                      </div>
                    </div>
                </a>
          
              </li>
              <li>
                <a href="#">The Brand</a>
              </li>
              <li>
                <a href="#">Local Stores</a>
              </li>
              <li>
                <a href="#">Look Book</a>
              </li>
              <li class="search-input">
                  <input placeholder="Search..." type="text" />
                  <i class="fas fa-search"></i>
              </li>
            </ul>
          </div>
        </div>
      </header>
      -->
      <footer>
      </footer>
</body>
</html>