@import "./header/header.scss";
@import "./blocks/separator.scss";
@import "./blocks/content-section.scss";
@import "./blocks/black-section.scss";
@import "./blocks/carousel-section.scss";
@import "./blocks/shuffle-section.scss";
body {
    background: black;
}

.main {
    background: white;
    text-align: center;
}

@media screen and (max-width:991px) {
    .main .section-text {
        width: 80%;
    }
}

@media screen and (max-width:1199px) {
    .main .section-text {
        width: 70%;
    }
}