@import "./header/header.scss";
@import "./footer/footer.scss";
body {
    background: black;
}

.main {
    background: white;
    text-align: center;
}

.main .seciton-head,
.main .section-title {
    margin-bottom: unset;
    position: relative;
    font-style: normal;
}

.main .section-head {
    margin-bottom: 60px;
}

.main .section-title::before {
    border-top: 1px solid;
    content: "";
    height: 0;
    left: auto;
    position: absolute;
    right: -60px;
    top: 50%;
    width: 40px;
    opacity: .4;
}

.main .section-title::after {
    border-top: 1px solid;
    content: "";
    height: 0;
    left: auto;
    position: absolute;
    left: -60px;
    top: 50%;
    width: 40px;
    opacity: .4;
}

.main .content-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f7f7f7;
}

.main .black-section {
    background: #1c1c1c;
}

.main .black-section .section-text,
.main .black-section .section-title:hover,
.main .black-section .section-title {
    color: white;
}

.main .section-text {
    width: 45%;
    text-align: center;
    margin: auto;
}