.main {
    .black-section {
        background: #1c1c1c;
        color: white;
        padding-bottom: unset;
        .section-text {
            color: white;
        }
        .section-title {
            color: white;
             :hover {
                color: white;
            }
        }

        .thumbnail-grid-list {
            ul {
                margin-bottom: 100px;
            }
        }
    }

   
}