.separator {
    background: #0e0f10;
    bottom: 0;
    width: 100%;
}

.separator-belt {
    background: #0e0f10;
    color: gray;
}

.separator-belt .separator-belt-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.separator-belt .separator-belt-block .separator-logo-image {
    display: block;
    width: 150px;
    height: 20px;
}

.separator-belt .separator-belt-block .separator-text {
    margin: unset;
}

.separator-belt .separator-belt-block .separator-list {
    flex-direction: row;
    list-style: none;
    display: flex;
    margin: unset;
    padding-left: 5px;
    padding-right: 5px;
}

.separator-belt .separator-belt-block .separator-list .separator-list-item {
    padding-right: 5px;
    padding-left: 5px;
}

.separator-belt-block .separator-button,
.separator-belt-block .separator-text .separator-link,
.separator-belt .separator-belt-block .separator-list .separator-list-item .separator-list-link {
    color: white;
    text-decoration: none;
}

.separator-belt-block .separator-text .separator-link:hover,
.separator-belt .separator-belt-block .separator-list .separator-list-item .separator-list-link:hover {
    color: gray;
    text-decoration: none;
}

.separator-belt-block .separator-list .separator-list-item .separator-button.active-separator-button,
.separator-belt-block .separator-list .separator-list-item .separator-button:hover {
    background: rgba(144, 144, 144, 0.22);
    color: white;
}

.separator-belt-block .separator-list .separator-list-item .separator-button {
    background: unset;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 11px;
    border: unset;
    font-size: medium;
}

.separator-belt-block .separator-list .separator-list-item .separator-button:focus {
    outline: unset;
}


/* Tablets and mobile*/

@media screen and (max-width:991px) {
    .separator-belt .separator-belt-block {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .separator-belt-block .separator-list .separator-list-item .separator-button {
        font-size: medium;
        padding-right: 10px;
        padding-left: 10px;
        ;
    }
}

@media screen and (min-width:992px) {
    .separator-belt .separator-belt-block {
        padding-bottom: 40px;
        padding-top: 40px;
    }
}