//Custom scss code for adjustments across the project

.btn.btn-amber {
  color: var(--global-code-bg-color);
}

.btn.btn-amber:hover {
  color: var(--global-hover-text-color);
}

.post {
  .links {
    padding-bottom: 30px;

    .btn.btn-amber {
      color: var(--global-back-to-top-text-color);
    }

    .btn.btn-amber:hover {
      color: var(--global-text-color);
    }
  }
}
