@import "~bootstrap/scss/bootstrap";
.hacking {
    background: url('./../assets/images/hacking.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

body {
    background: #000000;
    margin: 10;
    padding: 0;
}

.toggle {
    position: absolute;
    top: 3%;
    left: 100%;
    transform: translate(-150%, -3%);
    z-index: 1;
}

.toggle span {
    position: relative;
    width: 36px;
    height: 4px;
    background: #fff;
    display: block;
    margin-bottom: 8px;
    transition: .5s;
}

.toggle span:nth-child(1) {
    transform-origin: left;
}

.toggle span:nth-child(2) {
    transform-origin: center;
}

.toggle span:nth-child(3) {
    transform-origin: center;
}

.toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    left: 2px;
}

.toggle.active span:nth-child(2) {
    transform: rotate(315deg);
    right: 3px;
}

.toggle.active span:nth-child(3) {
    transform: scale(0);
}

.mobile-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


/* Desktop */

@media screen and (min-width:1200px) {}


/* Tablets */

@media screen and (max-width:1999px) and (min-width:768px) {}


/* Mobile */

@media screen and (max-width:767px) {}