.parallax {
    overflow: hidden;
    visibility: visible;
    position: relative;
    min-height: 600px;
    background: url('./../assets/images/business.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .opacity-medium {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    top: 0;
    left: 0;
    background: #1c1c1c;
}

.parallax .jumbo-title {
    background: unset;
    color: white;
    text-align: center;
}