.toggle {
    position: absolute;
    top: 3%;
    left: 100%;
    transform: translate(-150%, -3%);
    z-index: 1;
}

.toggle span {
    position: relative;
    width: 36px;
    height: 4px;
    background: #fff;
    display: block;
    margin-bottom: 8px;
    transition: .5s;
}

.toggle span:nth-child(1) {
    transform-origin: left;
}

.toggle span:nth-child(2) {
    transform-origin: center;
}

.toggle span:nth-child(3) {
    transform-origin: center;
}

.toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    left: 2px;
}

.toggle.active span:nth-child(2) {
    transform: rotate(315deg);
    right: 3px;
}

.toggle.active span:nth-child(3) {
    transform: scale(0);
}

.toggle-menu {
    position: fixed;
    background: #211f1f;
    color: white;
    padding-top: 60px;
    min-width: 150px;
    right: 0;
    height: 100%;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}