.main {
    .black-section {
        background: #1c1c1c;
        color: white;
        .section-text {
            color: white;
        }
        .section-title {
            color: white;
             :hover {
                color: white;
            }
        }
    }
}