.main {
    .seciton-head,
    .section-title {
        margin-bottom: unset;
        position: relative;
        font-style: normal;
        color: #0e0f10;
        &:hover {
            text-decoration: none;
        }
    }
    .section-head {
        margin-bottom: 60px;
    }
    .section-text {
        width: 45%;
        text-align: center;
        margin: auto;
        font-size: medium;
    }
    .section-image img,
    .content-section .section-image img {
        width: 200px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 30px;
    }
    .section-title::before {
        border-top: 1px solid;
        content: "";
        height: 0;
        left: auto;
        position: absolute;
        right: -60px;
        top: 50%;
        width: 40px;
        opacity: .4;
        @media screen and (max-width: 1199px) {
            border-top: unset;
        }
    }
    .section-title::after {
        border-top: 1px solid;
        content: "";
        height: 0;
        left: auto;
        position: absolute;
        left: -60px;
        top: 50%;
        width: 40px;
        opacity: .4;
        @media screen and (max-width: 1199px) {
            border-top: unset;
        }
    }
    .content-section {
        padding-top: 100px;
        padding-bottom: 100px;
        background: #f7f7f7;
    }
    .content-section.separator-section {
        padding-top: unset;
    }
    .content-section .form-control {
        font-size: small;
        margin-top: 20px;
    }
    .content-section .btn {
        border-radius: 30px;
        margin-top: 60px;
        font-size: medium;
        background: #0e0f10;
        text-transform: uppercase;
    }
    .content-section .btn:hover {
        background: #f7f7f7;
        color: black;
    }
    .thumbnail-grid-list {
        margin: 0 auto;
        overflow: auto;
        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
        }
        li {
            padding: 10px;
        }
        li img {
            float: left;
            width: 100px;
            height: auto;
            -webkit-transition: box-shadow 0.5s ease;
            -moz-transition: box-shadow 0.5s ease;
            -o-transition: box-shadow 0.5s ease;
            -ms-transition: box-shadow 0.5s ease;
            transition: box-shadow 0.5s ease;
        }
    }
}