.separator {
    background: #1c1c1c;
    bottom: 0;
    width: 100%;
}

.separator-belt {
    background: #141414;
    color: gray;
}

.separator-belt .separator-belt-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.separator-belt .separator-belt-block .separator-logo-image {
    display: block;
    width: 150px;
    height: 20px;
}

.separator-belt .separator-belt-block .separator-text {
    margin: unset;
}

.separator-belt .separator-belt-block .separator-list {
    flex-direction: row;
    list-style: none;
    display: flex;
    margin: unset;
    padding-left: 5px;
    padding-right: 5px;
}

.separator-belt .separator-belt-block .separator-list .separator-list-item {
    padding-right: 5px;
    padding-left: 5px;
}

.separator-belt-block .separator-text .separator-link,
.separator-belt .separator-belt-block .separator-list .separator-list-item .separator-list-link {
    color: white;
    text-decoration: none;
}

.separator-belt-block .separator-text .separator-link:hover,
.separator-belt .separator-belt-block .separator-list .separator-list-item .separator-list-link:hover {
    color: gray;
    text-decoration: none;
}


/* Tablets and mobile*/

@media screen and (max-width:991px) {
    .separator-belt .separator-belt-block {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media screen and (min-width:992px) {
    .separator-belt .separator-belt-block {
        padding-bottom: 50px;
        padding-top: 50px;
    }
}