
.mi-talent .navigation-bar {
    background-color: #333333;
    min-height: 45px;
    width:100%;
}

.hide-on-mobile {
    display: none;
}

.mi-talent .navigation-bar .container {
    margin-left:10%;
    margin-right: 10%;
}

.burger-menu {
    margin: unset;
    padding: unset;
    top: 0;
    background-color: #333333;
    height: 45px;
    text-align: left;
    padding-left: 30px;
    float: left;
}

.burger-menu button {
    margin: 0;
    padding: 0;
    float: unset;
    top: 13px;
}

.burger-menu button span {
    background:  white;
}

.sub-menu ul {
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    color: #999999;
    padding-left: 0;
}

.sub-menu ul li,
.sub-menu ul li a {
    display: inline-block;
    line-height: 45px;
}

.sub-menu-right ul
{
    background-color: #333333;
}

.sub-menu-right ul li a:hover {
    text-decoration: none;
    color: #00c8c8;
}

.sub-menu-right ul {
    float:right;
    color: #999999;
}

.sub-menu li a {
    padding-left:10px;
    padding-right: 10px;
    color: inherit;
}

#shopping-cart {
    float: right;
    margin-right: 10%;
    margin-left:5%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #00c8c8;
}

#shopping-cart a {
    padding: unset;
    text-decoration: none;
    color:white;
}

.currency-menu {
    float: left;
    margin-left:10%;
}

.currency-menu ul {
    color: #777777;
}

.currency-menu .dropdown-menu li {
    display: list-item;
}

.currency-menu .dropdown-menu li a {
    width: 100%;
}
.currency-menu .dropdown-menu li a:hover {
    background-color: unset;
    color:#00c8c8;
}

.currency-button {
    background: none;
    border: none;
    border-width: unset;
    padding: unset;
}

.currency-button:focus,
.currency-button:active,
.currency-button:hover {
    color: #999999;
}

.currency-button:focus,
.currency-button:active {
    border:none;
    border-width: unset;
    outline-color: unset;
    outline: unset;
}

#myNavbar .currency-button {
    color:#777777;
    font-weight: bold;
    padding: 10px 15px;
    width:100%;
    text-align:left;
}

.currency-menu .dropdown-menu {
    background-color: #333333;
    top: 94%;
    color: #999999;
}
.navigation-bar .collapsing,
.navigation-bar .collapse {
    border: none;
    box-shadow: none;
    width: 100%;
    background-color: rgb(51, 51, 51);
    font-size: 12px;
}

.navigation-bar .collapse .nav .navbar-nav .navbar-right {
    margin: 0;
}

.navigation-bar .collapsing ul li a,
.navigation-bar .collapse ul li a {
    color:#999999;
    font-weight: bold;
     font-size: 12px;
}

.navigation-bar .collapsing ul li a:hover,
.navigation-bar .collapsing ul li a:focus,
.navigation-bar .collapsing ul li a:active,
.navigation-bar .collapse ul li a:focus,
.navigation-bar .collapse ul li a:hover,
.navigation-bar .collapse ul li a:active  {
    color:#00c8c8;
    background-color:unset;
}
