/* Small Phones */
@media screen and (max-width:575px) {
    .currency-menu {
        display: none;
    }

    .burger-menu {
        display: block;
        width:100%;
        padding-left:15px;
    }

    .sub-menu-right {
        display: none;
    }


    .mi-talent .navigation-bar .container {
        margin-left: unset;
        margin-right: unset;
        padding-left: 0;
        padding-right: 0;
    }

    .sub-menu-right a i {
        display: inline-block;
    }

    #shopping-cart {
        margin-left:unset;
        margin-right: unset;
        width:100%;
        text-align: center;
        float: unset;
        padding-right:unset;
        padding-left:unset;
    }

    #shopping-cart a {
        padding-left:0;
        padding-right:0;
    }

    #shopping-cart ul,
    #shopping-cart li {
        width: 100%;
    }

    .sub-menu-right ul {
        text-align: center;
        float: unset;
    }

}

@media screen and (min-width: 576px) {
    .currency-menu {
        display: none;
    }

    .burger-menu {
        padding-left:15px;
        width: auto;
    }

    .sub-menu-right {
        display: none;
    }
}

/* Small devices Tablets   */
@media screen and (min-width:768px) {

    .sub-menu-right {
        display: block;
    }

    .currency-menu {
        display: block;
    }
    
    .burger-menu {
        display: none;
    }
    
    .mi-talent .navigation-bar .container {
        margin:auto;
    }

    .sub-menu-right a i {
        display: none;
    }

    
    .navigation-bar .collapse {
        display: none!important;
    }

}


/* Desktop */
@media screen and (min-width:1200px) {
    .mi-talent .navigation-bar .container {
        margin-left:10%;
        margin-right: 10%;
        padding-right:15px;
        padding-left:15px;
    }

    .currency-menu {
        display: block;
    }

    .navigation-bar .collapse {
        display: none!important;
    }
}