.header {
    background-image: url('../images/sliderImage.png');
    background-repeat: no-repeat;
    min-height: 918px;
    width: 100%;
    background-color: #f8f8f8;
}

.logo {
    font-family: Arial;
    font-size: x-large;
    text-transform: uppercase;
}

.sub-navigation-container {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.sub-navigation-container span{
    font-weight: bold;
}

.sub-navigation > ul {
    list-style-type: none;
    font-size: small;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
    text-decoration: none;
}

.sub-navigation > ul > li, .sub-navigation > ul > li > a {
    display: inline-block;
    margin-right: 40px;
    color: #222222;
    line-height: 35px;
    margin-bottom: 10px;
    font-weight: 550;
}

.sub-navigation > ul > li > a:hover {
    text-decoration: none;
    color: #00c8c8;
    cursor: pointer;
}

.sub-navigation .search-input input {
    line-height: 25px;
    text-indent: 10px;
    background-color: #f8f8f8;
    border-style: ridge;
    border-color: #e7e7e7;
    border-width: thin;
    font-size: small;
    font-family: Arial;
    font-weight: normal;
    color: #989898;
    padding-right: 28px;
}

.sub-navigation .search-input i {
    color: #989898;
    position: relative;
    right: 25px;
    font-size: smaller;
}

.sub-navigation .search-input input::placeholder {
    color: #989898;
}

.sub-navigation-icon {
    line-height: unset;
    height: unset;
    position: relative;
    text-align: left;
    bottom: 0px;
}

.sub-navigation-icon i {
    position: absolute;
    top: -5px;
    color: #989898;
}

.sub-navigation > ul > li > a:hover 
.sub-navigation-icon i {
    text-decoration: none;
    color: #00c8c8;
}
.sub-navigation-link-text {
    text-align: center;
}

.sub-navigation .dropdown-menu {
    position: absolute;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    background-color: #f8f8f8;
    border: none;
}

.sub-dropdown-menu {
    float: left;
    margin-right: 50px;
    margin-left: 30px;
    text-transform: none;
}

.sub-dropdown-menu ul {
    list-style: unset;
    padding: 0;
}

.sub-dropdown-menu > a {
    text-transform: uppercase;
    font-size: smaller;
    color:#575153;
    font-weight: 700;
}

.sub-dropdown-menu > a:hover,
.sub-dropdown-menu > ul > li > a:hover  {
    text-decoration: none;
    color: #00c8c8;
}

.sub-dropdown-menu > ul > li > a {
    font-size: small;
    color: #575153;
    font-weight: 400;
}

