@import './toggle-button.scss';
@import './toggle-menu.scss';
@import "./navigation.scss";
.parallax {
    overflow: hidden;
    visibility: visible;
    position: relative;
    min-height: 800px;
    background: url('./../assets/images/business.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .opacity-medium {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    top: 0;
    left: 0;
    background: #1c1c1c;
}

.parallax .jumbo-title {
    background: unset;
    color: white;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.jumbo-title .container-fluid {
    padding-top: 250px;
}

.logo {
    padding: 15px;
}

.logo-image {
    width: 130px;
    height: 20px;
}


/* Tablets and mobile*/

@media screen and (max-width:1199px) {
    .toggle {
        display: block;
    }
    .navbar-nav {
        display: none;
    }
}