/*Navigation */

.navigation-container {
    z-index: 1;
    padding-left: unset;
}

.navigation-container .navbar-nav {
    flex-direction: row;
}

.navigation-container .navbar-nav .nav-item {
    padding: 15px;
}

.navigation-container .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: large;
}

.navigation-container .navbar-nav .nav-item .nav-link:hover {
    color: #adadad;
}