/* Toggle menu */

.toggle-menu {
    position: fixed;
    color: white;
    top: -100%;
    width: 100%;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    transition: height 2s;
    height: 0;
}

.toggle-menu.active {
    height: 100%;
    top: 0;
    display: block;
}

.toggle-menu-list {
    list-style-type: none;
    padding-left: unset;
}

.toggle-menu-list-element {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.toggle-menu-list-element:hover {
    cursor: pointer;
}

.toggle-menu-list-link {
    font-size: x-large;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.toggle-menu .toggle-menu-list-link {
    opacity: 0;
    transition: opacity 2s;
}

.toggle-menu.active .toggle-menu-list-link {
    opacity: 1;
}

.toggle-menu-list-link:hover {
    color: gray;
    text-decoration: unset;
    cursor: pointer;
}