.toggle {
    display: none;
}

.toggle:hover {
    cursor: pointer;
}

.toggle span {
    position: relative;
    width: 36px;
    height: 4px;
    background: white;
    display: block;
    margin-bottom: 8px;
    transition: .5s;
}

.toggle span:nth-child(1) {
    transform-origin: left;
}

.toggle span:nth-child(2) {
    transform-origin: center;
}

.toggle span:nth-child(3) {
    transform-origin: center;
}

.toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    left: 2px;
}

.toggle.active span:nth-child(2) {
    transform: rotate(315deg);
    right: 3px;
}

.toggle.active span:nth-child(3) {
    transform: scale(0);
}

.toggle-menu {
    position: fixed;
    background: #211f1f;
    color: white;
    padding-top: 60px;
    right: 0;
    height: 100%;
    width: 0;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    transition: width 2s;
}

.toggle-menu.active {
    width: 250px;
}

.toggle-menu-list {
    list-style-type: none;
    padding-left: unset;
}

.toggle-menu-list-element {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.toggle-menu-list-element:hover {
    cursor: pointer;
}

.toggle-menu-list-link {
    font-size: x-large;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.toggle-menu .toggle-menu-list-link {
    opacity: 0;
    transition: opacity 2s;
}

.toggle-menu.active .toggle-menu-list-link {
    opacity: 1;
}

.toggle-menu-list-link:hover {
    color: gray;
    text-decoration: unset;
    cursor: pointer;
}