/* Toggle menu */

.toggle-menu {
    transition: height 2s;
    position: absolute;
    // position: fixed;
    color: white;
    text-align: left;
    top: 70px;
    width: 100%;
}

.toggle-menu #hidden-accordion {
    display: none;
}

.toggle-menu.active {
    height: 100%;
}

.toggle-menu-list {
    list-style-type: none;
    padding-left: unset;
}

.toggle-menu .toggle-menu-list .toggle-menu-item {
    background: rgba(#1c1c1c, 0.99);
    border-bottom: 1px solid gray;
    display: none;
}

.toggle-menu .toggle-menu-list .toggle-menu-item .toggle-menu-link {
    color: white;
    /* #1c1c1c*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
    text-transform: uppercase;
    font-size: small;
}

.toggle-menu .toggle-menu-list .toggle-menu-item:last-child {
    border-bottom: unset;
}

.toggle-menu .toggle-menu-list .toggle-menu-item .toggle-menu-link:hover {
    color: gray;
    text-decoration: unset;
}