.navbar{
    background-color: #222222;
    font-family: 'Oswald'
}
.navbar-toggle{
    background-color: #b73333;
    border: 0.5px solid #a74e4e00;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    color: #5c1920;
    background: aliceblue;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #b73333;
    color:white;
}

a:focus, a:hover{
    color:#b73333;
}

a{
    color: white;
}

.navbar-brand{
    font-family: 'Oswald';
}


.image_avatar
{
    border-radius:80%;
    width: 150px;
    height: 250x;
    margin-top:10px;
    margin-bottom: 10px;
}

.container
{
    background-color: white;
}

.carousel-inner > .item > img {
    width: 100%; height: 400px;
}

.tech-image{
    width: 250px;
    height: 250px;
    padding-top:10px;
    border-radius: 50%;
    
}

.avatar_image
{
    width: 150px;
    height: 250px;
    padding-top:10px;
    border-radius: 50%;
}

.footer
{
    background-color: #222222;
    margin-bottom: 10px;
    text-align: center;
    color:white;
}

.footer p{
    text-align: center;
}

.navbar {
    margin-bottom: 0;
}

@media (min-width: 768px){
    .navbar
    {
        border-radius: 0;
    }
}

.frontend-header{
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 0;
    background-size: 100% 100%;
}

.frontend-header > p, .frontend-header > h1, .main-content
{
    margin-left: 20px;
    margin-right: 20px;    
}

.main-content{
    text-align: center;
}

.features
{
    text-align: center;
    background-color: aliceblue;
    width:100%;
    padding-bottom: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.features img
{ 
    width:  40px;
    height: 40px;    
}



